<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link type="text/css" href="/css/main.css" rel="stylesheet" />
	<link type="text/css" href="/css/effects.css" rel="stylesheet" />
	<link type="text/css" href="/css/status.css" rel="stylesheet" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/ready.js"></script>
	<script type="text/javascript" src="/js/crafty-min.js"></script>
	<script type="text/javascript" src="/js/Weapons.js"></script>
	<script type="text/javascript" src="/js/Enemy.js"></script>
	<script type="text/javascript" src="/js/q_weaps.js"></script>
	<script type="text/javascript" src="/js/w_weaps.js"></script>
	 <script type="text/javascript" src="/js/e_weaps.js"></script>
	 <script type="text/javascript" src="/js/r_weaps.js"></script>
	<script type="text/javascript" src="/js/player.js"></script>
	<script type="text/javascript" src="/js/game_functions.js"></script>
	 <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
</head>
<body>
	<div id="main_wrapper">
		<div id="game_wrapper">
			<div id="logo_wrapper"></div>
			<div id="menu_container">
				<ul id="nav-reflection">
					<li class="adventure_button" ><a href="#" title="Adventure"></a></li>
					<li class="invade_button" ><a href="#" title="Invade"></a></li>
					<li class="shop_button" ><a href="#" title="Shop"></a></li>
					<li class="upgrade_button" ><a href="#" title="Upgrade"></a></li>
					<li class="defenses_button" ><a href="#" title="Defenses"></a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
